{% extends 'base.html' %} {% block content %}
<div>
  {% if portal.term1bot == True %}
  <div class="dropdown">
    <a
      class="btn btn-secondary dropdown-toggle"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Term 1 BOT exam
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="term1bot/1/">form 1</a>
      <a class="dropdown-item" href="term1bot/2/">form 2</a>
      <a class="dropdown-item" href="term1bot/3/">form 3</a>
      <a class="dropdown-item" href="term1bot/4/">form 4</a>
    </div>
  </div>
</div>
<div>
  {% elif portal.term2bot == True %}
  <div class="dropdown">
    <a
      class="btn btn-secondary dropdown-toggle"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Term 2 BOT exam
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="term2bot/1/">form 1</a>
      <a class="dropdown-item" href="term2bot/2/">form 2</a>
      <a class="dropdown-item" href="term2bot/3/">form 3</a>
      <a class="dropdown-item" href="term2bot/4/">form 4</a>
    </div>
  </div>
</div>
<div>
  {% elif portal.term3bot == True %}
  <div class="dropdown">
    <a
      class="btn btn-secondary dropdown-toggle"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Term 3 BOT exam
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="term3bot/1/">form 1</a>
      <a class="dropdown-item" href="term3bot/2/">form 2</a>
      <a class="dropdown-item" href="term3bot/3/">form 3</a>
      <a class="dropdown-item" href="term3bot/4/">form 4</a>
    </div>
  </div>
</div>
<div>
  {% elif portal.term1mot == True %}
  <div class="dropdown">
    <a
      class="btn btn-secondary dropdown-toggle"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Term 1 MOT exam
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="term1mot/1/">form 1</a>
      <a class="dropdown-item" href="term1mot/2/">form 2</a>
      <a class="dropdown-item" href="term1mot/3/">form 3</a>
      <a class="dropdown-item" href="term1mot/4/">form 4</a>
    </div>
  </div>
</div>
<div>
  {% elif portal.term2mot == True %}
  <div class="dropdown">
    <a
      class="btn btn-secondary dropdown-toggle"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Term 2 MOT exam
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="term2mot/1/">form 1</a>
      <a class="dropdown-item" href="term2mot/2/">form 2</a>
      <a class="dropdown-item" href="term2mot/3/">form 3</a>
      <a class="dropdown-item" href="term2mot/4/">form 4</a>
    </div>
  </div>
</div>
<div>
  {% elif portal.term3mot == True %}
  <div class="dropdown">
    <a
      class="btn btn-secondary dropdown-toggle"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Term 3 MOT exam
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="term3mot/1/">form 1</a>
      <a class="dropdown-item" href="term3mot/2/">form 2</a>
      <a class="dropdown-item" href="term3mot/3/">form 3</a>
      <a class="dropdown-item" href="term3mot/4/">form 4</a>
    </div>
  </div>
</div>
<div>
  {% elif portal.term1eot == True %}
  <div class="dropdown">
    <a
      class="btn btn-secondary dropdown-toggle"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Term 1 EOT exam
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="term1eot/1/">form 1</a>
      <a class="dropdown-item" href="term1eot/2/">form 2</a>
      <a class="dropdown-item" href="term1eot/3/">form 3</a>
      <a class="dropdown-item" href="term1eot/4/">form 4</a>
    </div>
  </div>
</div>
<div>
  {% elif portal.term2eot == True %}
  <div class="dropdown">
    <a
      class="btn btn-secondary dropdown-toggle"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Term 2 EOT exam
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="term2eot/1/">form 1</a>
      <a class="dropdown-item" href="term2eot/2/">form 2</a>
      <a class="dropdown-item" href="term2eot/3/">form 3</a>
      <a class="dropdown-item" href="term2eot/4/">form 4</a>
    </div>
  </div>
</div>
<div>
  {% elif portal.term3eot == True %}
  <div class="dropdown">
    <a
      class="btn btn-secondary dropdown-toggle"
      href="#"
      role="button"
      id="dropdownMenuLink"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Term 3 EOT exam
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="term3eot/1/">form 1</a>
      <a class="dropdown-item" href="term3eot/2/">form 2</a>
      <a class="dropdown-item" href="term3eot/3/">form 3</a>
      <a class="dropdown-item" href="term3eot/4/">form 4</a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}
