{% extends 'base.html' %} {% block content %} {% if portal.term1bot == True %}
<div class="dropdown">
  <a href="/generate_endterm_reports/term1/">Generate Term 1 results</a>
  {% elif portal.term2bot == True %}
  <a href="/generate_endterm_reports/term2/">Generate Term 2 results</a>
  {% elif portal.term3bot == True %}
  <a href="/generate_endterm_reports/term3/">Generate Term 3 results</a>
  {% elif portal.term1mot == True %}
  <a href="/generate_endterm_reports/term1/">Generate Term 1 results</a>
  {% elif portal.term2mot == True %}
  <a href="/generate_endterm_reports/term2/">Generate Term 2 results</a>
  {% elif portal.term3mot == True %}
  <a href="/generate_endterm_reports/term3/">Generate Term 3 results</a>
  {% elif portal.term1eot == True %}
  <a href="/generate_endterm_reports/term1/">Generate Term 1 results</a>
  {% elif portal.term2eot == True %}
  <a href="/generate_endterm_reports/term2/">Generate Term 2 results</a>
  {% elif portal.term3eot == True %}
  <a href="/generate_endterm_reports/term3/">Generate Term 3 results</a>
</div>
{% endif %} {% endblock content %}
