{% extends "base.html" %} {% block content %}
<div style="margin: 10px;" class="dropdown">
  <a
    class="btn btn-secondary dropdown-toggle"
    href="#"
    role="button"
    id="dropdownMenuLink"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Form 1
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/accounts/enter_closing_balance_class/1/a"
      >A</a
    >
    <a class="dropdown-item" href="/accounts/enter_closing_balance_class/1/b"
      >B</a
    >
    <a class="dropdown-item" href="/accounts/enter_closing_balance_class/1/c"
      >C</a
    >
  </div>
</div>
<div style="margin: 10px;" class="dropdown">
  <a
    class="btn btn-secondary dropdown-toggle"
    href="#"
    role="button"
    id="dropdownMenuLink"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Form 2
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/accounts/enter_closing_balance_class/2/a"
      >A</a
    >
    <a class="dropdown-item" href="/accounts/enter_closing_balance_class/2/b"
      >B</a
    >
    <a class="dropdown-item" href="/accounts/enter_closing_balance_class/2/c"
      >C</a
    >
  </div>
</div>
<div style="margin:10px;" class="dropdown">
  <a
    class="btn btn-secondary dropdown-toggle"
    href="#"
    role="button"
    id="dropdownMenuLink"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Form 3
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/accounts/enter_closing_balance_class/3/a"
      >A</a
    >
    <a class="dropdown-item" href="/accounts/enter_closing_balance_class/3/b"
      >B</a
    >
    <a class="dropdown-item" href="/accounts/enter_closing_balance_class/3/c"
      >C</a
    >
  </div>
</div>
<div style="margin: 10px;" class="dropdown">
  <a
    class="btn btn-secondary dropdown-toggle"
    href="#"
    role="button"
    id="dropdownMenuLink"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false"
  >
    Form 4
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="/accounts/enter_closing_balance_class/4/a"
      >A</a
    >
    <a class="dropdown-item" href="/accounts/enter_closing_balance_class/4/b"
      >B</a
    >
    <a class="dropdown-item" href="/accounts/enter_closing_balance_class/4/c"
      >C</a
    >
  </div>
</div>

{% endblock content %}
